---
export const prerender = false;

import Image from "astro/components/Image.astro";
import Fonts from "@components/Fonts.astro";
import Block from "@components/Block.astro";
import { Icon } from "astro-icon/components";

import CharlieHS from "../assets/Charles_HS1.jpg";
import CharSmoke from "../assets/C-2.jpg";
import CharMug from "../assets/C-3.jpg";
import CharYears from "../assets/C-4.jpg";

import "@styles/globals.css";

import { GET } from "../pages/api/donation-total.json.ts";

let response = await GET(Astro);
const total = (await response.json()).total;
---

<script type="module" define:vars={{ total }}>
  let userHasScrolled = false;
  window.onscroll = () => {
    userHasScrolled = true;

    const arrow = document.getElementById("scroll-arrow");

    if (arrow && arrow.classList.contains("animate-fadeIn")) {
      arrow.classList.remove("animate-fadeIn");
      arrow.classList.add("animate-fadeOut", "opacity-0");
    }
  };

  const fadeInTitle = () => {
    setTimeout(() => {
      const text = document.getElementById("title-text");
      const img = document.getElementById("title-image");

      if (text && img) {
        text.classList.remove("opacity-0");
        text.classList.add("animate-fadeIn");

        img.classList.remove("opacity-0");
        img.classList.add("animate-fadeIn");
      }
    }, 750);

    setTimeout(() => {
      if (!userHasScrolled) {
        const arrow = document.getElementById("scroll-arrow");

        if (arrow) {
          arrow.classList.remove("opacity-0");
          arrow.classList.add("animate-fadeIn");
        }
      }
    }, 2500);
  };

  const formatDollarNum = (num) => {
    let [whole, dec] = num.includes(".") ? num.split(".") : [num, ""];

    if (dec.length == 0) {
      dec = "00";
    } else if (dec.length == 1) {
      dec += "0";
    } else {
      dec = dec.substring(0, 2);
    }

    return `${whole}.${dec}`;
  };

  const interpolatedArray = (end) => {
    const size = 70;
    let arr = [];
    for (let i = 0; i < size - 1; i++) {
      const num = ((end / size) * i).toString();
      arr.push(formatDollarNum(num));
    }
    arr.push(formatDollarNum(end.toString()));
    return arr;
  };

  const totalElem = document.getElementById("total");

  window.onload = function () {
    if (totalElem) {
      const nums = interpolatedArray(total);
      console.log(nums);

      const intervalID = setInterval(() => {
        const num = nums.shift();
        if (!num) {
          clearInterval(intervalID);
          fadeInTitle();
          return;
        }

        totalElem.innerHTML = num;
      }, 20);
    }
  };
</script>

<html lang="en" class="scrollbar">
  <head>
    <Fonts />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Help Charlie!</title>
  </head>
  <body>
    <div
      class="-z-10 main-bg fixed w-screen h-screen flex justify-center items-center"
    >
      <h1
        class="text-center text-opacity-10 text-8xl sm:text-[min(25vw,50vh)] text-white leading-none pb-0 dm-sans font-extralight"
      >
        $<span id="total">0.00</span><br />RAISED
      </h1>
    </div>
    <div
      class="w-screen h-screen flex flex-col-reverse sm:flex-row justify-center items-center"
    >
      <h1
        id="title-text"
        class="text-7xl sm:text-8xl align-middle mt-5 sm:mr-10 new-ams w-[15rem] text-center sm:text-right opacity-0"
      >
        CHARLIE NEEDS HELP
      </h1>
      <Image
        id="title-image"
        src={CharlieHS}
        alt="charlie"
        class="h-80 sm:h-96 w-auto shadow-xl shadow-red-600 block opacity-0"
      />
      <Icon
        id="scroll-arrow"
        name="ic:round-arrow-circle-down"
        class="absolute bottom-0 mb-4 opacity-0"
        size={"2.5rem"}
      />
    </div>
    <div class="flex flex-col w-screen items-center">
      <Block>
        <Image
          src={CharSmoke}
          alt="charlie"
          class="w-full max-w-72 h-auto border-2"
        />
        <div class="w-auto sm:w-72 flex flex-col justify-center">
          <h1 class="new-ams text-5xl mb-2 font-bold">CHARLIE NEEDS HELP</h1>
          <p class="new-ams text-2xl">
            He has fallen into the 7th circle of nicotine addiction. Being
            consumed by greed, he'll need all the motivation he can get to kick
            addiction once and for all.
          </p>
        </div>
      </Block>
      <Block>
        <div class="w-auto sm:w-72 flex flex-col justify-center">
          <h1 class="new-ams text-5xl mb-2 font-bold">POWER TO THE PEOPLE</h1>
          <p class="new-ams text-2xl">
            funds will be raised for those less fortunate. A pool will be earned
            during the period between December 1st to December 31st, including
            his own $20 to start. This pool will be sent to
            <a
              class="text-blue-600 hover:underline cursor-pointer"
              href="https://lungcancercanada.ca/"
              >Lung Cancer Canada
            </a>
            on the conditions that Charlie quits vaping for the month of January.
            Otherwise, that same pool will be out of Charlie's own pocket.
          </p>
        </div>
        <Image
          src={CharMug}
          alt="charlie"
          class="w-full max-w-72 h-auto border-2"
        />
      </Block>
      <Block>
        <Image
          src={CharYears}
          alt="charlie"
          class="w-full max-w-72 h-auto border-2"
        />
        <div class="w-auto sm:w-72 flex flex-col justify-center">
          <h1 class="new-ams text-5xl mb-2 font-bold">WE NEED YOU</h1>
          <p class="new-ams text-2xl">
            The website is officially open for Dember 10th.
            <a
              class="text-blue-600 hover:underline cursor-pointer"
              href="https://forms.gle/zwxED8TaNEbghGDr6"
              >The link for donation sign ups is open.
            </a>
            The bets will be signed until December 31st. Charlie will officially
            quit January 1st, and the process will be documented until January 31st
            (with a journal to be added). On that same day, if Charlie makes it through
            the month, donations will be collected by those that signed. Otherwise,
            he pays the funds out of pocket.
            <a
              class="text-blue-600 hover:underline cursor-pointer"
              href="/terms-and-conditions"
              >Terms and conditions
            </a>
          </p>
        </div>
      </Block>
    </div>
  </body>
</html>

<style>
  .main-bg {
    background: radial-gradient(#292929, #0c0c0c);
  }
</style>
